*{
	padding:0;
	margin:0;
	list-style-type:none;
}
html, body{ min-width: 940px;}
.acessibilidade {
	width:1px;
	height:1px;
	display:block;
	text-indent:-999999px;
	overflow:hidden;
	position:absolute;
}
h1, h2, h3, h4{
	font-style: normal;
	font-weight: normal;
	color: #227a82;
	font-family: 'orbitronb', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}
a, h1, h2, h3, h4, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, label { display: block;}
a{ text-decoration: none; color: #122a53;}
a:hover, a:focus{ background-position:left bottom;}
a.ativo{ background-position:left bottom;}
a.link{ display:inline; color: #227a82;}
a:hover.link, a:focus.link{ text-decoration:underline; }
.hidetxt{ text-indent:-99999px; overflow:hidden;}
p{ padding-bottom: 20px; line-height: 18px;}
img{ border: none;}
.left{ float: left;}
.right{ float: right;}
.img-left{ float: left; margin: 0 15px 10px 0;}
@font-face {
    font-family: 'orbitronm';
    src: url('../fonts/orbitron-medium.eot');
    src: url('../fonts/orbitron-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/orbitron-medium.woff') format('woff'),
         url('../fonts/orbitron-medium.ttf') format('truetype'),
         url('../fonts/orbitron-medium.svg#orbitronm') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'orbitronb';
    src: url('../fonts/orbitron-bold.eot');
    src: url('../fonts/orbitron-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/orbitron-bold.woff') format('woff'),
         url('../fonts/orbitron-bold.ttf') format('truetype'),
         url('../fonts/orbitron-bold.svg#orbitronb') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	color: #122a53;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}

/*** HOME ***/
.bg-home{
	width: 100%;
	display: table;
	background: url(../img/bghome.jpg) center top no-repeat;
}
header{
	width: 940px;
	height: 174px;
	margin: 0 auto;
}
header h1{
	width: 200px;
	height: 71px;
	float: left;
	padding: 20px 0 0 371px;
}
header h1 a{
	width: 200px;
	height: 71px;
	background-image: url(../img/delta-prag.jpg);
}
.telefone{
	float: right;
	color: #f2fafc;
	font-size: 14px;
	font-family: 'orbitronb', sans-serif;
	padding: 7px 10px 0 0;
	letter-spacing: 1px;
}
header ul{
	width: 934px;
	height: 18px;
	float: left;
	padding: 17px 0 0 6px;
	background: url(../img/bgnav.png) 0 17px no-repeat;
}
header ul li{ float: left; padding-left: 23px;}
header ul li a{
	height: 16px;
	color: #227a82;
	font-family: 'orbitronb', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 2px;
}
header ul li a.bt-home{ width: 99px;}
header ul li a:hover.bt-home, header ul li a:focus.bt-home, header ul li a.ativo1{ width: 99px; color: #f6fbfc; background: url(../img/navhover.png) -29px 0 no-repeat;}
header ul li a.bt-empr{ width: 130px;}
header ul li a:hover.bt-empr, header ul li a:focus.bt-empr, header ul li a.ativo2{ width: 130px; color: #f6fbfc; background: url(../img/navhover.png) -151px 0 no-repeat;}
header ul li a.bt-serv{ width: 133px;}
header ul li a:hover.bt-serv, header ul li a:focus.bt-serv, header ul li a.ativo3{ width: 133px; color: #f6fbfc; background: url(../img/navhover.png) -304px 0 no-repeat;}
header ul li a.bt-frot{ width: 108px;}
header ul li a:hover.bt-frot, header ul li a:focus.bt-frot, header ul li a.ativo4{ width: 108px; color: #f6fbfc; background: url(../img/navhover.png) -460px 0 no-repeat;}
header ul li a.bt-info{ width: 171px;}
header ul li a:hover.bt-info, header ul li a:focus.bt-info, header ul li a.ativo5{ width: 171px; color: #f6fbfc; background: url(../img/navhover.png) -591px 0 no-repeat;}
header ul li a.bt-cont{ width: 130px;}
header ul li a:hover.bt-cont, header ul li a:focus.bt-cont, header ul li a.ativo6{ width: 130px; color: #f6fbfc; background: url(../img/navhover.png) -785px 0 no-repeat;}
#content{ width: 940px; margin: 0 auto;}
.top-left{
	width: 455px;
	height: 239px;
	float: left;
	padding: 25px 0 0 159px;
}
.top-left h2{
	color: #FFF;
	font-size: 16px;
	padding-bottom: 25px;
	text-shadow: -2px 1px 0px rgba(64, 64, 64, 1);
}
.top-left h2 span{ font-size: 13px;}
.top-left h3{ font-size: 18px; padding-bottom: 10px;}
.top-left p{ padding-right: 50px;}
.slides_container{
	width: 326px;
	height: 264px;
	float: right;
	overflow: hidden;
}
.slides_container h2{ width: 326px; height: 264px;}
.h2-pragas{ background: url(../img/controle-de-pragas.jpg) 0 0 no-repeat;}
.h2-desentupidora{ background: url(../img/desentupidora.jpg) 0 0 no-repeat;}
.h2-dedetizacao{ background: url(../img/dedetizacao.jpg) 0 0 no-repeat;}
.servicos{
	width: 235px;
	height: 126px;
	float: left;
	padding: 0 0 0 10px;
}
.servicos h2{ font-size: 18px; padding-bottom: 10px;}
.servicos h2 a{ color: #edf8fa; text-shadow: -2px 1px 0px rgba(64, 64, 64, 1);}
.servicos p{ color: #edf8fa;}
.desentupidora{
	width: 615px;
	height: 116px;
	float: left;
	padding: 10px 0 0 80px;
}
.desentupidora h2{ font-size: 18px; padding-bottom: 10px;}
.frota{
	width: 226px;
	height: 142px;
	float: left;
	padding: 20px 20px 0 262px;
}
.frota h2{ font-size: 18px; padding-bottom: 10px;}
.dedetizacao{
	width: 432px;
	height: 143px;
	float: left;
	padding: 19px 0 0 0;
}
.dedetizacao h2{ font-size: 18px; padding-bottom: 10px;}
.contato{
	width: 517px;
	height: 123px;
	float: left;
	padding: 0 0 0 0;
}
.contato h2{ padding: 0 0 10px 60px; font-size: 14px;}
.contato p{ padding-left: 133px;}
.parceiros{
	width: 376px;
	height: 123px;
	float: right;
}
.parceiros h2{
	padding: 0 0 10px 0;
	font-size: 14px;
	text-align: center;
}
.jcarousel-skin-parceiros .jcarousel-container {
	width: 307px;
	float: left;
    padding-left: 69px;
}
.jcarousel-skin-parceiros .jcarousel-clip { width: 307px; overflow: hidden;}
.jcarousel-skin-parceiros .jcarousel-clip-horizontal  { width: 260px;}
.jcarousel-skin-parceiros .jcarousel-item {
    width: 102px;
    height: 122px;
    float: left;
    margin-right: 30px;
}
.jcarousel-skin-parceiros .jcarousel-prev-horizontal {
    width: 37px;
    height: 53px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    background-image: url(../img/prev.gif);
}
.jcarousel-skin-parceiros .jcarousel-next-horizontal {
    width: 37px;
    height: 53px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background-image: url(../img/next.gif);
}
.jcarousel-skin-parceiros .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-parceiros .jcarousel-next-horizontal:hover {
	background-position:left bottom; opacity: 0.3;}
.jcarousel-skin-parceiros .jcarousel-next-disabled-horizontal,
.jcarousel-skin-parceiros .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-parceiros .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-parceiros .jcarousel-next-disabled-horizontal:active {
	cursor: default; background: url(../img/next.gif) 0 0 no-repeat; opacity: 0.3;}
.jcarousel-skin-parceiros .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-parceiros .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-parceiros .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-parceiros .jcarousel-prev-disabled-horizontal:active {
	cursor: default; background: url(../img/prev.gif) 0 0 no-repeat; opacity: 0.3;}

/* EMPRESA */
.bg-int{
	width: 100%;
	display: table;
	background: #cbf0f6 url(../img/bgint.jpg) center top no-repeat;
}
header .logo{
	width: 200px;
	height: 71px;
	float: left;
	padding: 20px 0 0 371px;
}
.header-internas{ height: 211px;}
.bg-empr{ width: 940px; background: url(../img/bgempr.jpg) right top no-repeat;}
#content h1{ font-size: 18px; padding-bottom: 15px;}
#content h1 span{ font-size: 14px; font-family: 'orbitronm', sans-serif;}
.txt-menor{ width: 693px;}
.h2-pdr{
	height: 18px;
	font-size: 14px;
	padding: 0 0 10px 20px;
}
.icon-missao{ background: url(../img/icon-missao.jpg) 0 0 no-repeat;}
.icon-visao{ background: url(../img/icon-visao.jpg) 0 0 no-repeat;}
.icon-valores{ background: url(../img/icon-valores.jpg) 0 0 no-repeat;}
.lista-arrow{ padding-bottom: 30px;}
.lista-arrow li{
	line-height: 18px;
	padding-left: 10px;
	background: url(../img/seta.png) 0 4px no-repeat;
}
.box-servicos{
	width: 250px;
	height: 135px;
	float: left;
	margin-bottom: 40px;
	padding: 50px 0 0 212px;
	cursor: pointer;
	background: url(../img/bgboxservicos.jpg) 0 0 no-repeat;
}
.box-servicos h3{ font-size: 12px; padding-bottom: 10px;}
.box-servicos:hover a, .box-servicos:focus a{ text-decoration: underline;}
.box-frota{
	width: 225px;
	height: 135px;
	float: left;
	margin-bottom: 40px;
	padding: 50px 0 0 253px;
	cursor: pointer;
	background: url(../img/bgboxfrota.jpg) 0 0 no-repeat;
}
.box-frota h3{ font-size: 12px; padding-bottom: 10px;}
.box-frota:hover a, .box-frota:focus a{ text-decoration: underline;}

/* SERVICOS */
.bottom-serv{
	width: 940px;
	height: 300px;
	float: left;
	background: url(../img/bgserv.jpg) 0 0 no-repeat;
}
.box-desentupidora{
	width: 227px;
	height: 134px;
	float: left;
	margin: 49px 0 0 179px;
	cursor: pointer;
}
.box-desentupidora h2{
	text-transform: none;
	font-size: 15px;
	padding-bottom: 10px;
}
.box-desentupidora:hover .confira{ color: #0f4247;}
.box-desentupidora a:hover{ text-decoration: none;}
.box-dedetizacao{
	width: 223px;
	height: 134px;
	float: right;
	margin: 49px 71px 0 0;
	cursor: pointer;
}
.box-dedetizacao h2{
	text-transform: none;
	font-size: 15px;
	padding-bottom: 10px;
}
.box-dedetizacao:hover .confira{ color: #0f4247;}
.box-dedetizacao a:hover{ text-decoration: none;}
.confira{
	width: 200px;
	height: 23px;
	padding: 4px 0 0 20px;
	color: #227a82;
	font-size: 17px;
	font-family: 'orbitronb', sans-serif;
	background: url(../img/btconf.jpg) 0 0 no-repeat;
}

/* SERVICOS INTERNAS */
























/* FROTA */
.bg-frota{ width: 940px; background: url(../img/bgfrota.jpg) right top no-repeat;}
.txt-menor1{ width: 660px;}
.fotos{
	width: 940px;
	float: left;
	padding-bottom: 50px;
}
.fotos li{ float: left; padding: 0 22px 22px 0;}
#content .sem-pdg-right{ padding-right: 0;}
.pdg-bottom{ padding-bottom: 495px;}

/* CONTATO */
.bg-cont{ width: 940px; background: url(../img/bgcont.jpg) right 0 no-repeat;}
.formulario{
	width: 577px;
	height: 270px;
}
.formulario li{
	width: 577px;
	float: left;
	padding-bottom: 10px;
}
.formulario li label{
	width: 90px;
	float: left;
	padding: 2px 10px 0 0;
	color: #227a82;
	font-family: 'orbitronm', sans-serif;
	text-transform: uppercase;
	text-align: right;
}
.formulario li input, .formulario li textarea{
	width: 467px;
	height: 22px;
	float: left;
	border: none;
	padding: 0 0 0 5px;
	outline: none;
	font-size: 13px;
	font-family: 'orbitronm', sans-serif;
	background: url(../img/input.png) 0 0 no-repeat;
}
.formulario li textarea{
	width: 467px;
	height: 67px;
	padding: 5px 0 5px 5px;
	background: url(../img/textarea.png) 0 0 no-repeat;
}
.formulario li .bt-enviar{
	width: 167px;
	height: 31px;
	background: none;
	float: right;
	padding: 0;
}
.formulario li span{ float: left; padding: 15px 0 0 110px;}
.final-cont{
	width: 684px;
	height: 151px;
	padding: 49px 0 5px 256px;
	background: url(../img/bgbottomcont.jpg) 0 0 no-repeat;
}
.final-cont address{
	width: 490px;
	float: left;
	font-style: normal;
	line-height: 18px;
	padding-bottom: 10px;
}
.final-cont address .titulo-address{
	color: #227a82;
	letter-spacing: 1px;
	font-family: 'orbitronm', sans-serif;
	text-transform: uppercase;
}
.mapa a{
	width: 286px;
	height: 23px;
	float: left;
	text-transform: uppercase;
	color: #227a82;
	font-size: 15px;
	padding: 4px 0 0 15px;
	font-family: 'orbitronb', sans-serif;
	background-image: url(../img/btmapa.jpg); 
}
.mapa a:hover, .mapa a:focus{ color: #FFF;}
.contatos{ margin-top: -25px;}
.icon-tel{
	color: #227a82;
	letter-spacing: 1px;
	font-size: 15px;
	font-family: 'orbitronb', sans-serif;
	padding-bottom: 40px;
}
#mapaTeste{ display: none;}
.mapaContent{
	width: 550px;
  	height: 320px;
  	display:block;
  	position: absolute;
  	left: 30%;
  	top: 10%;
  	z-index:999999;
}
.window{
  	width: 550px;
  	height: 320px;
  	overflow: hidden;
  	z-index: 99;
  	background-color: #FFF;
  	border: 6px solid #999;
  	padding-top: 30px;

}
.close{
	width: 40px;
	height: 40px;
	position: absolute;
	right: -25px;
  	top: -20px;
	background: url(../img/fechar.png) 0 0 no-repeat;
	z-index: 999;
	cursor: pointer;
}
#mask{
	width: 100%;
	height: 978px;
	background-color: #000;
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.8;
}
.enviado{
	width: 340px;
	margin: 0 auto;
	text-align: center;
	color: #227a82;
	font-size: 14px;
	font-family: 'orbitronb', sans-serif;
	padding: 120px 0 0 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: url(../img/msgok.jpg) center 30px no-repeat;
}

/* ERRO 404 */
.erro{
	width: 420px;
	padding-top: 165px;
	margin: 0 auto;
	text-align: center;
	font-size: 13px;
	background: url(../img/erro.jpg) center top no-repeat;
}
.menu-erro{ padding-bottom: 192px;}
.menu-erro li{ padding-bottom: 10px;}
.menu-erro li a{
	font-size: 15px;
	font-family: 'orbitronm', sans-serif;
	letter-spacing: 1px;
	color: #122a53;
}
.menu-erro li a span{ text-transform: uppercase; color: #227a82;}


/* FOOTER */
.bg-rodape{
	width: 100%;
	height: 167px;
	padding-top: 34px;
	background: url(../img/bgroda.jpg) center top no-repeat;
}
.bg-rodape-int{
	width: 100%;
	height: 167px;
	padding-top: 34px;
	background: url(../img/bgrodaint.jpg) center top no-repeat;
}
footer{ width: 940px; margin: 0 auto;}
.logo-footer{
	float: left;
	color: #155661;
	font-size: 18px;
	font-family: 'orbitronb', sans-serif;
	text-transform: uppercase;
}
.logo-footer span{ font-size: 15px; font-family: 'orbitronm', sans-serif;}
.bt-orca a{
	float: right;
	color: #b4e2e9;
	font-size: 22px;
	font-family: 'orbitronb', sans-serif;
	text-decoration: underline;
}
footer nav ul{
	width: 940px;
	float: left;
	padding: 28px 0 57px 0;
}
footer nav ul li{
	float: left;
	padding: 0 55px 0 54px;
	background: url(../img/ballwhite.png) right 5px no-repeat;
}
.sem-pdg-left{ padding-left: 0;}
footer .sem-pdg-right{ padding-right: 0; background: none;}
footer nav ul li a{
	color: #f6fbfc;
	font-family: 'orbitronb', sans-serif;
	text-transform: uppercase;
}
footer nav ul li a:hover{ text-decoration: underline;}
address{
	width: 825px;
	float: left;
	font-style: normal;
	color: #001e21;
}
address a{ display: inline; color: #001e21;}
footer .selo{
	width: 91px;
	height: 15px;
	padding: 0;
	float: right;
}
footer .selo a{
	width: 91px;
	height: 15px;
	background-image:url(../img/ao5.jpg);
}